/* Global */
body {
  background: #0d0d0d;
  color: white;
  font-family: "Segoe UI", Arial;
  margin: 0;
  padding: 0;
}

.title {
  font-size: 32px;
  margin-bottom: 5px;
}

.subtitle {
  color: #cccccc;
  margin-bottom: 25px;
}

/* Main container */
.container {
  width: 600px;
  margin: auto;
  background: #1a1a1a;
  padding: 30px;
  margin-top: 40px;
  border-radius: 14px;
  text-align: center;
  box-shadow: 0 0 25px rgba(0, 128, 255, 0.2);
}

/* Drag & Drop Box */
#drop-area {
  border: 2px dashed #0077cc;
  padding: 30px;
  border-radius: 12px;
  margin-bottom: 20px;
  transition: 0.3s;
}

#drop-area:hover {
  background: #0f0f0f;
  border-color: #0099ff;
}

#drop-area p {
  margin: 0;
  font-size: 16px;
}

#drop-area span {
  color: #777;
  font-size: 14px;
}

.file-label {
  background: #0077cc;
  padding: 10px 22px;
  border-radius: 8px;
  cursor: pointer;
  display: inline-block;
  color: white;
  margin-top: 10px;
  transition: 0.3s;
}

.file-label:hover {
  background: #0099ff;
}

/* File input hidden */
#file-input {
  display: none;
}

/* Upload Button */
.btn {
  background: #0077cc;
  padding: 12px 24px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  margin-top: 20px;
  color: white;
  font-size: 16px;
  transition: 0.3s;
}

.btn:hover {
  background: #0099ff;
}

/* Preview Image */
#preview-container img {
  width: 240px;
  margin-top: 10px;
  border-radius: 10px;
  border: 1px solid #444;
}

/* Prediction result */
.result {
  margin-top: 30px;
  background: #222;
  padding: 25px;
  border-radius: 14px;
  box-shadow: 0 0 20px rgba(0, 128, 255, 0.15);
}

.result span {
  color: #00ccff;
  font-weight: bold;
}

.result-img-box img {
  margin-top: 20px;
  width: 260px;
  border-radius: 12px;
}

/* Error alert */
.error {
  background: #ff4444;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 15px;
  font-weight: bold;
}
